<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NodeJS</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<header>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">WebSiteName</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/">Home</a></li>
		      <li><a href="/about">About</a></li>
		      <li><a href="/contact">Contact</a></li>
		    </ul>
		  </div>
		</nav>
	</header>

<!-- CONTENT GOES HERE -->
<%- defineContent('hero') %>

<main>
	<div class="container">
	<%- body %>
	</div>
</main>


<footer>
	<div class="container text-center">
		Simon Gonzalez &copy; 2016		
	</div>
</footer>

</body>
</html>