
<%- contentFor('hero') %>
<section class="hero">
	<div class="hero-content">
		<div class="container">
		  	<h2>Node-Heroku-Test.</h2>
		  	<p>Basic Express Routes</p>
		  	<a href="/" class="btn btn-primary btn-sm"> Get Started</a>
			<a href="/contact" class="btn btn-primary btn-sm"> Contact</a>		
		</div>
	</div>
</section>
<br>

<%- contentFor('body') %>

<div class="jumbotron text-center">
	Home Page
</div>


